.contact-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    margin: 80px;
}

.contact-form {
    width: 450px;
    height: 500px;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid #AF9E64;
    background-color: rgba(26, 26, 26, 0.8);
    justify-items: center;
}

.contact-form .input-row {
    display: flex;
}

.contact-form h2 {
    color: #AF9E64;
    font-family: mainFont;
    font-size: 2.4rem;
    text-align: center;
}

/*Form*/
.contact-form input[type="text"],
textarea,
select {
    border: none;
    outline: none;
    background: none;
    border-bottom: 2px solid #AF9E64;
    padding: 5px 0;
    margin: 5px;
    color: #bb9b49;
    font-size: 1.8rem;
    font-family: paragraphFont;
}

.contact-form input[type="submit"] {
    background: linear-gradient(to right, #ebd197, #b48811, #a2790d, #bb9b49);
    color: black;
    border: none;
    outline: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.4s;
    font-weight: bold;
    border-radius: 4px;
    margin-top: 10px;
    margin-bottom: 10px;
}

p {
    color: #AF9E64;
    font-family: paragraphFont;
    font-size: 1.2rem;
    text-align: left;
}


/* checkbox*/

.checkbox-container {
    display: flex;
    align-items: flex-start;
    /* Aligns the checkbox with the top of the label text */
}

.checkbox-container input[type="checkbox"] {
    display: none;
    margin-right: 8px; 
}

.checkbox-container label {
    display: flex;
    align-items: start;
    color: #AF9E64;
    font-family: paragraphFont;
    font-size: 1.2rem;
    text-align: left;
    flex: 1;

}

input[type="checkbox"]+label {
    position: relative;
    padding-left: 30px;
    cursor: pointer;
}

input[type="checkbox"]+label::before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background-color: rgba(26, 26, 26, 0.8);
    border: 2px solid #AF9E64;
    box-sizing: border-box;
}

input[type="checkbox"]:checked+label::before {
    background-color: #AF9E64;
    /* change as needed */
}

input[type="checkbox"]:checked+label::after {
    content: '✓';
    position: absolute;
    left: 5px;
    top: 50%;
    transform: translateY(-50%) scaleX(1.5);
    color: rgba(26, 26, 26, 0.8);
}

/*Right Column*/
.contact-map-container {
    width: 50%;
    margin-bottom: 20px;
}

.phone-card, .mail-card, .address-card {
    width: 80%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 2px solid #AF9E64;
    border-radius: 15px;
    margin-bottom: 10px;
    /*spacingbetweencards*/box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    color: #AF9E64;
    font-size: 0.9rem;
    font-family: mainFont;
}

.phone-card i, .mail-card i, .address-card i {
    margin-right: 10px; /* spacing between icon and text */
    font-size: 24px;
    color: #AF9E64;
}
